alabaster==0.7.12
Babel==2.8.0
bleach==3.2.1
blis==0.4.1
bump2version==1.0.0
bumpversion==0.6.0
catalogue==1.0.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cryptography==3.1.1
cymem==2.0.3
dill==0.3.2
docutils==0.16
fastapi==0.61.1
filelock==3.0.12
future==0.18.2
gensim==3.8.3
h11==0.10.0
idna==2.10
imagesize==1.2.0
jeepney==0.4.3
Jinja2==2.11.2
joblib==0.16.0
keyring==21.4.0
MarkupSafe==1.1.1
msmb-theme==1.2.0
murmurhash==1.0.2
numpy==1.19.2
packaging==20.4
pkginfo==1.5.0.1
plac==1.1.3
preshed==3.0.2
pycparser==2.20
pydantic==1.6.1
Pygments==2.7.1
pyparsing==2.4.7
python-crfsuite==0.9.7
python-multipart==0.0.5
pytz==2020.1
pyvi==0.1
readme-renderer==26.0
regex==2020.9.27
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
sacremoses==0.0.43
scikit-learn==0.23.2
scipy==1.5.2
SecretStorage==3.1.2
sentencepiece==0.1.91
six==1.15.0
sklearn-crfsuite==0.3.6
smart-open==2.2.0
snowballstemmer==2.0.0
spacy==2.3.2
Sphinx==3.2.1
sphinx-drove-theme==1.11.0
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
srsly==1.0.2
starlette==0.13.6
tabulate==0.8.7
thinc==7.4.1
threadpoolctl==2.1.0
tokenizers==0.8.1rc2
tqdm==4.49.0
transformers==3.1.0
twine==3.2.0
urllib3==1.25.10
uvicorn==0.12.0
wasabi==0.8.0
webencodings==0.5.1
